.color-red {
  color: red;
}

.color-orange {
  color: orange;
}
.color-green {
  color: rgb(13, 232, 13);
}

.div-bg-col {
  /* background-color: rgba(83, 65, 250, 0.2); */
  border-radius: 5px;
}

.text-custom {
  font-size: 1.95em;
}

.color-yellow {
  color: #e9c46a;
}

.color-0e487e {
  color: #0e487e;
}

.publication {
  min-height: 70vh;
}
